.card-conteudo {
    max-width: 250px;
    height: 350px;
    
    border: 5px solid #2D6B50;
    border-radius: 6px;
    display: flex;
    flex-direction: column;
    flex:1;
    align-items: center;
    justify-content: space-around;
    
}
.card-conteudo span {
    font-weight: 600;

}
.card-conteudo p {
    font-style: italic;
}
.card-conteudo img {
    width: 230px;
    height: 180px;
    object-fit: contain;
    background-size: contain;
    padding: 5px;
}
.card-conteudo:hover {
    border:5px solid gold;
}
.box-contato {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
.box-contato img {
    width: 50px;
}
.box-contato span {
    font-style: italic;
}
